{% extends 'base.html.twig' %}

{% block title %}Mon espace membre{% endblock %}

{% block content %}
<h1>Mon compte </h1>
    <br>
    <div>
        <h2>Bienvenue {{ app.user.firstname}}</h2>
        <hr>
        <p>
            Action possible :<br>
            - <a href="{{ path('account_password') }}">Modifier mon mot de passe.</a> <br>
            - Ajouter mes adresses <br>
            - Mes commandes.
        </p>
    </div>

{% endblock %}
